.quizColor {
  background-color: #3b5998 !important;
  height: 65px;
}

.logo {
  background-size: contain !important;
  height: 65px;
  width: 70px;
  margin-left: 180px;
}

.tekstMargina{
  margin-left: -190px;
  font-size: large;
}

.ikoneMargina{
  margin-top: 15px;
}

.btnOdjava {
  font-weight: 350;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
	color: #ffffff;
}

.white-color {
  color: white !important;
}
