

  .Border{
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-radius:5px;
    padding:10px;
    text-align:center;
    margin: 0 auto;
  }
  
  .flexbox-container {
      display: flex;
      flex-direction: row;
  }

  .Picture{
    float: right;
  }

  .Main{
    width: 50%;
    margin: 0 auto;
    padding: 1%;
  }

  .Middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .Calendar{
    width: 5em;
    height:auto;
    /* min-height:15em;   */
  }