.naslov{
    color: black;
    font-size: 45px;
    font-weight: 470;
    margin-top: 10px;
    
}
.ligaNaslov{
    color: black;
    font-size: 50px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: 40%;
    text-align: center;
}
.naslovNadolazecih{
    font: bold;
    font-size: 70;
    size: 150px;
    background-color: white;
    color: #3b5998;
}
.marginalijeva{
    margin-right: 550px;
}
.boldP{
    font: bold;
    font-size: larger;
}
.gumbiHome{
    margin-top: 5%;
    margin-left: -10%;
}
.gumb{
    margin-left: 40px;
    margin-right: 40px;
    height: 300px;
    width: 180px;
    background-color: #3b5998;
}
.gumbTekst{
    font: bolder;
    font-size: larger;
    margin-top: 10%;
    margin-bottom: -20%;
}
.aktivnost{
    background-color: #3b5998 ;
    width: 35%;
    text-align: center;
    font: bolder;
    height:430px;
    overflow-y: scroll;
}

.okvirHome{
    margin-top: 5%;
    margin-bottom: 5%;
}

.font17{
    color: black;
    font-size: 17px;
    font-weight: 350;
}

.marginaTop{
    margin-top: 4px;
}

#defaultOrganizer{
    font-weight: 700;
}

.bg-modal{
    background-color: gray;
    width: 100%;
    height: 100px;
    position: absolute;
}